<ion-header>
    <ion-toolbar>
        <ion-title>Create Leave</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content style="padding: 10px;">
    <!-- <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
    </ngb-datepicker>
    
    <ng-template #t let-date let-focused="focused">
      <span class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
        {{ date.day }}
      </span>
    </ng-template> -->
    <ion-item class="itbr" (click)="openCalendar()">
        <ion-label position="floating">Start Date</ion-label>
        <ion-input [readonly]="true" [value]="leaveLine.StartDate | date:'fullDate'"></ion-input>
    </ion-item>
    <ion-item class="itbr" (click)="openCalendar()">
        <ion-label position="floating">End Date</ion-label>
        <ion-input [readonly]="true" [value]="leaveLine.EndDate | date:'fullDate'"></ion-input>
    </ion-item>
    <ion-item class="itbr">
        <ion-label position="floating">Leave Type</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet"
            [selectedText]="selectedLeaveType.AbsenceCodeDescription" (ionChange)="selectedLeave(selectedLeaveType)"
            [(ngModel)]="selectedLeaveType">
            <ion-select-option *ngFor="let leaveType of leaveTypeList" [value]="leaveType">
                {{leaveType.AbsenceCodeDescription}} {{'(' + leaveType.AbsenceDays + ' Days)'}}
            </ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item class="itbr" *ngIf="compareDate() && leaveLine.StartDate">
        <ion-label position="floating">Hours</ion-label>
        <ion-input [min]="0" [max]="24" [(ngModel)]="leaveLine.Hours"></ion-input>
    </ion-item>

    <ion-item class="itbr">
        <ion-label position="floating">Remarks</ion-label>
        <ion-textarea [(ngModel)]="leaveLine.Remarks"></ion-textarea>
    </ion-item>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="submitLeave()">
        <ion-fab-button size="small">
            <ion-icon name="save"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>