<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeModal()" style="padding: 16px;font-size: 24px;">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>

    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-searchbar mode="ios" [(ngModel)]="searchedItem"></ion-searchbar>

  <ion-list class="items">
    <ion-item *ngFor="let item of searchList | filter:searchedItem" (click)="selectedItem(item)">
      <ion-label color="light"> {{getTextLabel(item)}} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>