<ion-header>
  <ion-toolbar>
    <ion-title>{{pageType}}</ion-title>
    <ion-buttons slot="start" (click)="closeModal()" style="padding: 16px;font-size: 24px;">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="pageType == 'Job Details'">
    <ion-item>
      <ion-label>Employee Id</ion-label>
      <ion-label>{{emp.WorkerId}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Job Title</ion-label>
      <ion-label class="ion-text-wrap">{{emp.JobTitle}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Department</ion-label>
      <ion-label class="ion-text-wrap">{{emp.Department}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Reporting Mgr</ion-label>
      <ion-label class="ion-text-wrap">{{emp.ReportingManager}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Joining Date</ion-label>
      <ion-label>{{emp.JoiningDate | date:'mediumDate'}}</ion-label>
    </ion-item>
  </div>

  <!-- Personal Details -->
  <div *ngIf="pageType =='Personal Details'">
    <ion-item>
      <ion-label>Date of Birth</ion-label>
      <ion-label class="ion-text-wrap" *ngIf="checkDate(emp.DateOfBirth)">{{emp.DateOfBirth | date:'mediumDate'}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-label class="ion-text-wrap">{{emp.Gender}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Marital Status</ion-label>
      <ion-label class="ion-text-wrap">{{emp.MaritalStatus}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nationality</ion-label>
      <ion-label class="ion-text-wrap">{{emp.Nationality}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Address</ion-label>
      <ion-label class="ion-text-wrap">{{emp.Address}}</ion-label>
    </ion-item>
  </div>

  <!-- Document Details -->
  <div *ngIf="pageType =='Document Details'">
    <div *ngFor="let identification of emp.WorkerIdentification">
      <ion-item-divider>
        <ion-label>
          {{identification.IdentificationType}}
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label> No.</ion-label>
        <ion-label class="ion-text-wrap">{{identification.IdentificationNumber}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label> Valid From </ion-label>
        <ion-label class="ion-text-wrap">{{identification.ValidFrom | date:'mediumDate'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label> Valid To </ion-label>
        <ion-label class="ion-text-wrap">{{identification.ValidTo | date:'mediumDate'}}</ion-label>
      </ion-item>
    </div>
  </div>

  <!-- Leave Balance Details -->
  <div *ngIf="pageType =='Leave Balance'">
    <ion-item *ngFor="let leave of leaveBalance">
      <ion-label class="ion-text-wrap">{{leave.AbsenceCodeDescription}}</ion-label>
      <ion-label class="ion-text-right">{{leave.AbsenceDays | number : '1.2-2'}}</ion-label>
    </ion-item>
  </div>
</ion-content>