<div class="footer_tab">
  <ion-tabs *ngIf="isManager">
    <ion-tab-bar>

      <ion-tab-button tab="manager-profile"  (click)="homeClicked()">
        <ion-icon name="home"></ion-icon>
        <span class="tabIconName">Home</span>
      </ion-tab-button>

      <ion-tab-button tab="my-workers"  *ngIf="isManager" (click)="approvalClicked()">
        <ion-icon name="people"></ion-icon>
        <span class="tabIconName">My Approvals</span>
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>

</div>
