<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="back">
    <ion-toolbar>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon size="small" name="settings-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <!-- <ion-buttons slot="start" (click)="logout()">
        <ion-label color="white" size="small">Log-out</ion-label>

        <ion-button color="white">
          <ion-icon size="small" name="power-outline"></ion-icon>
        </ion-button>
      </ion-buttons> -->

    </ion-toolbar>

    <ion-row class="ion-justify-content-center">

      <ion-thumbnail (click)="navigateToPage('/tab/tabs/manager-profile/manager_Profile_details/manager','home')">
        <img [src]="getImageStr()">
      </ion-thumbnail>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-text color="white" class="text">{{emp.Name}}</ion-text>
    </ion-row>

  </div>


  <ion-grid>
    <ion-row>

      <ion-col size="4">
        <ion-button class="btn" expand="block"
          (click)="navigateToPage('/tab/tabs/manager-profile/manager_Profile_details/manager','home')">
          <ion-icon name="medkit" color="light"></ion-icon>
        </ion-button>
        <p class="ion-text-center">Profile</p>
      </ion-col>

      <ion-col size="4">
        <ion-button class="btn" expand="block"
          (click)="navigateToPage('/tab/tabs/manager-profile/manager_timesheet_home/manager','timesheet-home')">
          <ion-icon name="timer-outline" color="light"></ion-icon>
        </ion-button>

        <p class="ion-text-center">Timesheet</p>
      </ion-col>

      <ion-col size="4">
        <ion-button class="btn" expand="block"
          (click)="navigateToPage('/tab/tabs/manager-profile/manager_leave_home/manager','leave-home')">
          <ion-icon name="medkit" color="light"></ion-icon>
        </ion-button>
        <p class="ion-text-center">Leave</p>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="4">
        <ion-button class="btn" expand="block"
          (click)="navigateToPage('/tab/tabs/manager-profile/manager_payslip/manager','payslip')">
          <ion-icon name="newspaper" color="light"></ion-icon>
        </ion-button>
        <p class="ion-text-center">Payslip</p>
      </ion-col>

      <ion-col size="4">
        <ion-button class="btn" expand="block"
          (click)="navigateToPage('/tab/tabs/manager-profile/manager_document_request/manager','document-request')">
          <ion-icon name="person-add-outline" color="light"></ion-icon>
        </ion-button>
        <p class="ion-text-center">HR Request</p>
      </ion-col>

      <ion-col size="4">
        <ion-button class="btn" expand="block">
          <ion-icon name="notifications" color="light"></ion-icon>
        </ion-button>
        <p class="ion-text-center">Settings</p>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-icon name="power-outline" (click)="logout()" class="logoutBtn"></ion-icon>



</ion-content>